body {
	margin: 300px;
	padding: 0;
	background-color: rgb(230, 199, 100)
}
table {
	margin-top: -200px;
	border-collapse: collapse;
}

table,
th,
td {
	border: 2px solid black;
}

table {
	width: 100%;
	height: 600px;
}

.personal-header {
	background-color: rgb(230, 199, 100)
}

.personal-header > th {
	padding: 10px;
	text-align: center;
}

#name {
	font-size: 40px;
}
x
#job {
	font-size: 28px;
}

.contact-header {
	font-size: 20px;
	font-weight: 10;
	text-align: right;
	padding: 0px;
}

.contact-body {
	font-size: 20px;
	text-align: right;
}

.contact-icon {
	font-size: 20px;
	text-align: center;
}

.contact-icon > a {
	background: #000000;
	color: #fff;
	padding: 10px;
}

.contact-icon >  {
	background: #000000;
	color: #fff;
	padding: 10px;
}


#social-header, #skills-header {
	text-align: right;
	padding-right: 10px;
}
#avatar {

}

h1 {
	text-align: center;
}

h2 {
	text-align: right;
	margin-right: 200px;
}
h3 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
	letter-spacing: 3.8px;
	word-spacing: -4.4px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
